<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Index.html</title>
</head>
<body>
    <h1 align="middle">Heroínas y los Héroes Tecnológicos</h1>

    <section align="center">
    <ul type="none">
        <li><a href="babbage"><strong>Charles Babbage</strong></a></li>
        <br>
        <li><a href="berners-lee"><strong>Tim Berners Lee</strong></a></li>
        <br>
        <li><a href="clarke"><strong>Joan Clarke</strong></a></li>
        <br>
        <li><a href="hamilton"><strong>Margaret Hamilton</strong></a></li>
        <br>
        <li><a href="hopper"><strong>Grace Hopper</strong></a></li>
        <br>
        <li><a href="lovelace"><strong>Ada Lovelace</strong></a></li>
        <br>
        <li><a href="turing"><strong>Alan Turing</strong></a></li>
    </ul>
    </section>
    

    
</body>
</html>